.main-content{
    display: flex;
    height: 97vh;
    font-weight: bold;
    font-size: 10px;
}

.main-img{
    width: 40%;
}

input{
    border-radius: 5px;
    height: 25px;
}

.front-card-alignment{
    position: absolute;
    width: 25%;
    left: 10%;
    top: 20%;
}

.back-card-alignment{
    position: absolute;
    width: 25%;
    left: 16%;
    top: 51%;
}

.form-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.holder-label{
    display:flex;
    text-align: left;
    font-size: 15px;
    color:rgb(53, 53, 53);
}

.card-label{
    font-size: 15px;
    color:rgb(53, 53, 53);
}

.card-holder-name{
    margin-top: 5px;
    width: 30%;
}

.card-number{
    width: 30%;
}

.text{
    flex-direction: column;
}

.text-label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.main-data{
    width: 100%;
}

.date-cvc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 100%;
}

.col{
    display: flex;
    flex-direction: column;
    width:15.5%;
}


.date{
    margin-top: 15px;
    display: flex;
    flex-direction: column;

}

.cvc-label{
    margin-left: 35px;
    display: flex;
    flex-direction: column;
}

.date-input{
    display: flex;
    align-content: space-between;
}

.month-input{
    width: 30%;
    margin-right: 15px;
}

.year-input{
    width: 30%;
}

.cvc-input{
    margin-left: 35px;
    width: 70%;
}

.button{
    margin-top: 15px;
    width: 30%;
    background-color: purple;
    color: white;
    height: 30px;
    border-radius: 5px;
}

.complete-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error{
    color: red;
}

@media screen and (max-width: 780px){
    .back-card-alignment{
        width: 200px;
    }

    .front-card-alignment{
        width: 200px;
    }
}

/* For smart phone devices */
@media screen and (max-width: 480px) {
    .main-content{
        flex-direction: column;
        height: 100vh;
    }

    .main-img{
        content: url("../../images/bg-main-mobile.png");
        width: 100%;
        height: 33%;
    }

    .main-data{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }

    .back-card-alignment{
        width: 55%;
        left: 40%;
        top : 6%;
    }
    
    .front-card-alignment{
        width: 55%;
        left: 10%;
        top:  18.5%
    }
    .form-data{
        height: 60%;
    }

    .card-holder-name{
        width:100%;
    }
    .col{
        width:100px;
    }

    .date-inputs{
        display:flex;
        flex-direction: row;
    }

    .card-number{
        width: 100%;
    }
}