.main-content{
    position:absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100vh;
    width: 100%;
    font-size: 12px;
    letter-spacing: 1px;
}

input{
    border-radius: 5px;
    height: 25px;
}

.main-img{
    width: 33.3%;
}

.front-card-alignment{
    position: absolute;
    width: 25%;
    left: 15%;
    top: 20%;
}

.back-card-alignment{
    position: absolute;
    width: 25%;
    left: 20%;
    top: 51%;
}

.button{
    margin-top: 30px;
    background-color: purple;
    color: white;
    height: 30px;
    border-radius: 5px;
    width: 100%;
}

.content{
    position: absolute;
    top: 35%;
    right: 15%;
    width: 28%;
    display: flex;
    flex-direction: column;
}

.card-number{
    margin-top: 15px;
}

.date-cvc{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
}

.month{
    width: 35%;
    margin-right: 10px;
}

.year{
    width: 35%;
}

.success{
    position: absolute;
    top: 35%;
    left: 60%;
    width: 28%;
}

@media screen and (max-width: 768px) {
    .front-card-alignment{
        width: 35%;
        left: 10%;
        top: 25%;
    }

    .back-card-alignment{
        width: 35%;
        left: 15%;
    }

    .main-content{
        font-size: 9px;
    }

    .card-hold-name{
        width: 100%;
    }

    .card-number-text{
        width: 100%;
    }

    .col{
        width: 50%;
    }

    .cvc-input{
        margin-left: 5px;
        width: 95%;
    }

    .cvc-label{
        margin-left: 5px;
    }

    .button{
        width: 105%;
    }
}

@media screen and (max-width: 481px) {
    
}