.main-card{
    position: relative;
}
.front-card-img{
    width: 100%;
}

.logo{
    position: absolute;
    left: 5%;
    top: 10%;
    height: 18%;
}

.number{
    color: white;
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 25px;
    letter-spacing: 3px;
}

.exp-date{
    color: white;
    position: absolute;
    font-size: 14px;
    top: 80%;
    left: 79%;
    letter-spacing: 1px;
}

.name{
    color: white;
    position: absolute;
    font-size: 14px;
    top: 80%;
    left: 5%;
    letter-spacing: 1px;
}

@media screen and (max-width: 780px) {
    .number{
        font-size: 15px;
    }

    .name{
        font-size: 11px;
        top: 78%;
    }
    .exp-date{
        font-size: 11px;
        top: 78%;
    }
}

@media screen and (max-width: 768px) {
    .number{
        font-size: 18px;
    }

    .name{
        font-size: 15px;
    }

    .exp-date{
        font-size: 15px;
    }
}

@media screen and (max-width: 626px) {
    .number{
        font-size: 14px;
    }

    .name{
        font-size: 11px;
    }

    .exp-date{
        font-size: 11px;
    }
}

@media screen and (max-width: 481px){
    .number{
        font-size: 22px;
    }

    .name{
        font-size: 13px;
    }

    .exp-date{
        font-size: 13px;
    }
}